{% load static %}

<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Start | Showing Map Activity</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href=" {% static 'assets/images/favicon.png' %} " type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/LineIcons.css' %} ">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/magnific-popup.css' %} ">

    <!--====== Default css ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/default.css' %} ">

    <!--====== Style css ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} ">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


</head>

<body>

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navgition navgition-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src=" {% static 'assets/images/logo.svg' %} " alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item active">
{#                                        <a class="page-scroll" href="">KOMPUTASI BERGERAK</a>#}
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navgition -->

        <div id="home" class="header-hero bg_cover" style="background-image: url( {% static 'assets/images/activity.jpg' %} )">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="header-content text-center">
                            <h3 class="header-title">Final Project</h3>
                            <h3 class="header-title">Komputasi Bergerak</h3>
                            <p class="text">Plotting Activity Recognition</p>
                            <p class="text">by Kelompok 4</p>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape">
                <img src=" {% static 'assets/images/header-shape.svg' %} " alt="shape">
            </div>
        </div> <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    

    
    <!--====== CONTACT PART START ======-->

    <section id="maps" class="maps-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-10">
                        <h4 class="title">Maps</h4>
                        <p class="text">Showing People Activity in Map</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->


        </div> <!-- conteiner -->
    </section>

    <div id="map"></div>
    <script src="{% static 'assets/js/map.js' %}"></script>

    {% for key, value in user.items %}
        <script>
            var marker = L.marker({{ key }}).addTo(map);
            marker.bindPopup("{{ value|safe }}").openPopup();
        </script>
    {% endfor %}

    <!--====== CONTACT PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->









    <!--====== jquery js ======-->
    <script src=" {% static 'assets/js/vendor/modernizr-3.6.0.min.js' %} "></script>
    <script src=" {% static 'assets/js/vendor/jquery-1.12.4.min.js' %} "></script>

    <!--====== Bootstrap js ======-->
    <script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/popper.min.js' %} "></script>

    <!--====== Ajax Contact js ======-->
    <script src=" {% static 'assets/js/ajax-contact.js' %} "></script>

    <!--====== Scrolling Nav js ======-->
    <script src=" {% static 'assets/js/jquery.easing.min.js' %} "></script>
    <script src=" {% static 'assets/js/scrolling-nav.js' %} "></script>

    <!--====== Validator js ======-->
    <script src=" {% static 'assets/js/validator.min.js' %} "></script>

    <!--====== Magnific Popup js ======-->
    <script src=" {% static 'assets/js/jquery.magnific-popup.min.js' %} "></script>

    <!--====== Main js ======-->
    <script src=" {% static 'assets/js/main.js' %} "></script>

</body>

</html>
